.categories-title {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(237, 102, 97);
    font-weight: 600;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 35px;
}