.footer {
    height: 140px;
    border-top: 1px solid rgb(237, 102, 97);
    background: rgb(248, 249, 250);
    position: absolute; 
    bottom: 0; 
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
    }

    a {
        display: block;
    }
}